<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head th:replace="~{layout/plantilla :: head}">
    <title>FidExpress</title>
    <meta charset="UTF-8"/>
    <link href="css/estilos.css" rel="stylesheet" type="text/css"/>
</head>

<body>
    <header th:replace="layout/plantilla::header"></header>

    <div class="container mt-5">
        <h1 class="titulo mb-4">Listado de Productos</h1>

        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped align-middle shadow">
                <thead class="table-dark text-center">
                    <tr>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Precio</th>
                        <th>Imagen</th>
                        <th>Categoria</th>
                        <th>Tipo</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="producto : ${productos}">
                        <td th:text="${producto.nombre}"></td>
                        <td th:text="${producto.descripcion}"></td>
                        <td th:text="${producto.precio}"></td>
                        <td th:text="${producto.url_imagen}"></td>
                        <td th:text="${producto.id_categoria}"></td>
                        <td th:text="${producto.id_tipo_prenda}"></td>
                        <td class="text-center">
                            <a href="#" class="btn btn-sm btn-success">Agregar al Carrito</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <footer th:replace="layout/plantilla::footer"></footer>
</body>
</html>